# metal-bootloader.service
[Unit]
Description=metal-stack bootloader

[Service]
Type=oneshot
ExecStart=/usr/bin/metal-bootloader.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
